

.nav_logout{
    margin-left: 900%;
}


.navbar-custom { 
    background-color:rgb(238, 138, 138);
    
} 

.nav_buttons{
    color:white;
    background-color: rgb(238, 138, 138);
    font-size: 15px;
    margin-right: 10px;
}


.logo{
    width:40%;
    height:40%;
}