

.nav_logout_user{
    margin-left: 270%;
}

.nav_logout_coach{
    margin-left: 350%;
}

.navbar-custom { 
    background-color:rgb(39, 39, 39);
    height: 70px;
    
} 

.nav_buttons{
    color:white;
    background-color: rgb(39, 39, 39);
    margin-right: 200px;
}


.logo{
    width:20%;
    height:20%;
}

.toto{
    margin-left: -200px;
}