<div class="login-page">
    <mat-card class="mat-elevation-z12 box">



      <mat-card-title class="headTitle"> 
        <img src="../../assets/logo2.png" alt="Logo" class="logo">
        MyPsy 
      </mat-card-title>


      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs ">
        <mat-tab class="nono">
            <mat-card-content>
                <mat-card-content class="left">
                    <img src="../../assets/user2.png" alt="Simple User" style="width:425px;height:325px;">
                </mat-card-content>

                <mat-card-content class="right">
                    <img src="../../assets/coach2.png" alt="Simple User" style="width:410px;height:310px;">
                </mat-card-content>
              <form action="">

            <div>
                <div class="userButton">
                    <button
                    mat-raised-button
                    class="login-button"
                    routerLink="/user">
                    I'm a simple user
                  </button>
                </div>

                <div class="coachButton">
                  <button
                    mat-raised-button
                    class="login-button"
                    routerLink="/coach">
                    I'm a coach
                  </button>
                </div>
            </div>
  

              </form>


             
            </mat-card-content>

        </mat-tab>
        

      </mat-tab-group>
    </mat-card>
  </div>
  