<div class="content background"><br>
        <div class="card box">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card sub_box">
                            <div class="card-body">
                                <p class="text-muted end">Something about depression: </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">                   
                        <div class="card sub_box">
                            <div class="card-body">
                                <p class="text-muted end">ChatBot: </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</div>