.background{
    background-image: url("../../assets/bg2.jpg");
    height: 100%;
  }
  

.box{
	width: 98%;
	height: 86%;
	position: absolute;
	top:8%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.sub_box{
    height: 97%;
}

.dep_style{
		font-size: 30px;
		padding-top: -10px;
		margin-bottom: -40px;
		color:rgb(238, 153, 74);
		font-family: 'Fira Sans', sans-serif;
}

.font_style{
	font-family: 'Fira Sans', sans-serif;
}

.font_dec{
	text-decoration: underline;
}