<div class="content background"><br>
        <div class="card box">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card sub_box">
                            <div class="card">
                                <h5 class="card-header dep_style">Depression</h5><br><br>
                                <div class="card-body">
                                  <h2 class="card-title font_style">What Is Depression?</h2>
                                  <p class="card-text font_style">Depression, also known as major depressive disorder, is a mood 
                                      disorder that makes you feel constant sadness or lack of interest in life.</p>

                                      <!--
                                   <p class="card-text font_style">Most people feel sad or depressed at times. It’s a normal 
                                       reaction to loss or life's challenges. But when intense sadness -- including feeling 
                                       helpless, hopeless, and worthless -- lasts for many days to weeks and keeps you from 
                                       living your life, it may be something more than sadness. You could have clinical 
                                       depression, a treatable medical condition.</p>
                                        -->

                                       <h2 class="card-title font_style">Depression Symptoms</h2>
                                       <p class="card-text font_style">According to the DSM-5, a manual doctors use to diagnose
                                           mental disorders, you have depression when you have five or more of these symptoms 
                                           for at least 2 weeks:</p>
                                           <p class="card-text font_style">- Your mood is depressed for most of the day, especially in the morning</p>
                                           <p class="card-text font_style">- You feel tired or have a lack of energy almost every day.</p>
                                           <p class="card-text font_style">- You feel worthless or guilty almost every day.</p>
                                           <p class="card-text font_style">- You have a hard time focusing, remembering details, and making decisions.</p>
                                           <p class="card-text font_style">- You can’t sleep, or you sleep too much, almost every day.</p>
                                           <p class="card-text font_style">- You have almost no interest or pleasure in many activities nearly every day.</p>
                                           <p class="card-text font_style">- You think often about death or suicide (not just a fear of death).</p>
                                           <p class="card-text font_style">- You feel restless or slowed down.</p>
                                           <p class="card-text font_style">- You’ve lost or gained weight.</p>
                                  
                                           <h4 class="card-title font_style font_dec">If you have at least one of these symptoms I invite you to do this test. The chatbot will guide you to know if you are really depressed.</h4>
                                           
                                        </div>
                              </div>
                        </div>
                    </div>
                    <div class="col-lg-4">                   
                        <div class="card sub_box">
                            <div class="card-body">
                                <!-- <p class="text-muted end">ChatBot: </p> -->
                                <iframe
                                    allow="microphone;"
                                    width="430"
                                    height="580"
                                    src="https://console.dialogflow.com/api-client/demo/embedded/9f9fc054-53ae-446d-83f3-5a740d770275">
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>