<div class="background">
    <div class="container"><br>
        <div id="accordion" class="box">

            <!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
            <div class="card">
                <div class="card-header card-item" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed collapse-items" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Add a course
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom01">Title</label>
                                        <input type="text" class="form-control" id="validationCustom01" placeholder="Title" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please choose a title.
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom02">URL</label>
                                        <input type="text" class="form-control" id="validationCustom02" placeholder="URL" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please choose a URL.
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustomUsername">Price</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="validationCustomUsername" placeholder="price (MAD)" aria-describedby="inputGroupPrepend" required>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                            <div class="invalid-feedback">
                                                Please choose a price.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="exampleFormControlTextarea1">Description</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1"  placeholder="description" rows="3"></textarea>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please choose a description.
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="validationCustom02">Image</label>
                                        <input type="text" class="form-control" id="validationCustom02" placeholder="image" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please choose a URL.
                                        </div>
                                    </div>
                                </div>
                                <button mat-raised-button class="login-button" type="submit">Submit form</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
                <!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
            <div class="card">
                <div class="card-header card-item" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed collapse-items" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Add a profile image
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="validationCustom02">Image</label>


                                        <input type="file" class="form-control-file" >


                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please choose a URL.
                                        </div>
                                    </div>
                                </div>
                                <button mat-raised-button class="login-button" type="button" >Upload</button>
                            </form>
                        </div>
                    </div>  
                </div>
            </div>


            <!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->        
            <div class="card">
                <div class="card-header card-item" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed collapse-items" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Change the address
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom01">Country</label>
                                        <input type="text" class="form-control" id="validationCustom01" placeholder="db" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please choose a title.
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom02">State</label>
                                        <input type="text" class="form-control" id="validationCustom02" placeholder="db" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please choose a URL.
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustomUsername">City</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="validationCustomUsername" placeholder="db" aria-describedby="inputGroupPrepend" required>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                            <div class="invalid-feedback">
                                                Please choose a price.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom01">Street</label>
                                        <input type="text" class="form-control" id="validationCustom01" placeholder="db" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please choose a title.
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom02">Clinic Name</label>
                                        <input type="text" class="form-control" id="validationCustom02" placeholder="db" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please choose a URL.
                                        </div>
                                    </div>
                                </div>
                                <button mat-raised-button class="login-button" type="submit">Submit form</button>
                            </form>
                        </div>
                    </div>  
                </div>
            </div>





            <div class="card">
                <div class="card-header card-item" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed collapse-items" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Change your email
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="validationCustom02">email</label>
                                        <input type="text" class="form-control" id="validationCustom02" placeholder="email" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please choose a URL.
                                        </div>
                                    </div>
                                </div>
                                <button mat-raised-button class="login-button" type="submit">Submit form</button>
                            </form>
                        </div>
                    </div> 
                </div>
            </div>




            <div class="card">
                <div class="card-header card-item" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed collapse-items" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Change your number phone
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="validationCustom02">number phone</label>
                                        <input type="text" class="form-control" id="validationCustom02" placeholder="number phone" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please choose a URL.
                                        </div>
                                    </div>
                                </div>
                                <button mat-raised-button class="login-button" type="submit">Submit form</button>
                            </form>
                        </div>
                    </div>  
                </div>
            </div>




            <div class="card">
                <div class="card-header card-item" id="headingSix">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed collapse-items" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Change your password
                        </button>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="validationCustom02">password</label>
                                        <input type="text" class="form-control" id="validationCustom02" placeholder="password" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please choose a URL.
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">                                
                                        <input type="text" class="form-control" id="validationCustom02" placeholder="confirm the new password" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please choose a URL.
                                        </div>
                                    </div>
                                </div> 
                                <button mat-raised-button class="login-button" type="submit">Submit form</button>   
                            </form>
                        </div>
                    </div>  
                </div>
            </div>  
        </div>
    </div>
</div>